pip install aniso8601==9.0.1
pip install attrs==21.2.0
pip install click==8.0.3
pip install Flask==2.0.2
pip install flask-restx==0.5.1
pip install Flask-SQLAlchemy==2.5.1
pip install greenlet==1.1.2
pip install importlib-metadata==4.8.1
pip install itsdangerous==2.0.1
pip install Jinja2==3.0.2
pip install jsonschema==4.1.2
pip install MarkupSafe==2.0.1
pip install marshmallow==3.14.0
pip install pyrsistent==0.18.0
pip install pytz==2021.3
pip install six==1.16.0
pip install SQLAlchemy==1.4.26
pip install typing-extensions==3.10.0.2
pip install Werkzeug==2.0.2
pip install zipp==3.6.0
